# Aws
region = "eu-west-1"

# EC2
ami_id             = "ami-096800910c1b781ba"
instance_type      = "t2.micro"
tag_name           = "bornes-electrique"
aws_public_key_ssh_path = "~/.ssh/id_rsa_aws.pub"
aws_private_key_ssh_path = "~/.ssh/id_rsa_aws"